@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <title>Shahriar Kabir</title>
</head>

    
    <div class="nav-wrapper">

        <div class="nav-link-wrapper">
            <a href="#section1">Home</a>
        </div>

        <div class="nav-link-wrapper">
            <a href="#section2">About Me</a>
        </div>
        <div class="nav-link-wrapper">
            <a href="#section3">Skill</a>
        </div>
        <div class="nav-link-wrapper">
            <a href="#section4">Education</a>
        </div>
        <div class="nav-link-wrapper">
            <a href="about.html">Experience</a>
        </div>
    </div>


    <div id="section1">

        <div class="container1">
            <h1>Shahriar Kabir</h1>
            <h2>Softwere Engineer</h2>
            <a href="#section1">Reach Out</a>
        </div>




    </div>

    <div id="section2">
        <div class="myImg">
            <img src="" alt="broken link">
            <img src="~/image/1.jpg" />

        </div>
        <div class="about-text">
            <div class="about-title">About Me</div>

            <div class="about-me-text">
                Hi, I'm Shahriar Kabir Tashin, a Computer Science Engineering student with a deep passion for <br>
                software engineering. Since my childhood, I have been fascinated by the power of   technology, <br>
                especially web-based games and applications. My love for web-based games and applications<br>
                motivated me to learn programming and pursue a career in software engineering.<br>

                As a Programmer I'm always excited to explore new technologies and programming
                paradigms.<br> I'm proficient in multiple programming languages, including   Java,
                Python, JavaScript,C++,C <br>sharp and so on. Recently,  I have been focusing on web development
                and have been working on <br> several web-based game and application projects.  I love the process
                of designing and building<br> web-based applications that are both functional
                and visually appealing.
            </div>
        </div>

    </div>
    <div id="section3">

        <div class="left">
            <img src="./image/skill.png" alt="">
        </div>
        <div class="right">
            <span>
                <h1>Skills:</h1>
                <h3>Languages:</h3>
                <li>HTML</li>
                <li>CSS</li>
                <li>C++</li>
                <li>Javascript</li>
                <li>C</li>
                <li>C#</li>
                <li>Java</li>
                <h3>Frameworks:</h3>
                <li>React JS</li>
                <li>Tailwind CSS</li>
                <li>Node JS</li>
                <li>Express JS</li>
                <li>ASP.NET</li>
                <h3>Server Side:</h3>
                <li>My SQL</li>
                <li>MongoDB</li>
                <h3>Proficient in:</h3>
                <li>C++</li>
                <li>JavaScript</li>
                <li>Frontend</li>
                <li>React JS</li>
                <li>Competetive Programming </li>



            </span>


        </div>

    </div>
    <div id="section4">


    </div>




      </div>





<script src="script.js"></script>
</html>
